<div class="row listingHeader">
    <div class="col-1 centerClass">
      <span>
        {{!todoData?.isEvent ? todoData?.total : todoData?.eventTotal}} Tasks
       </span>
    </div>
    <div class="col-6 sortClass">
      Title 
      <div class="sort" *ngIf="checkForOrder('title') == -1" (click)="sort('title',1)" >
        <mat-icon class="up">arrow_drop_up</mat-icon>
        <mat-icon class="down">arrow_drop_down</mat-icon>
      </div>
      <div class="sort increaseSort" *ngIf="(checkForOrder('title') !== -1) && (checkForOrderType('title') == 1)" (click)="sort('title',-1)" >
        <span class="sortIndex"> {{checkForOrder('title') + 1}} </span>
        <mat-icon class="upSort">arrow_drop_up</mat-icon>
      </div>
      <div class="sort increaseSort" *ngIf="(checkForOrder('title') !== -1) && (checkForOrderType('title') == -1)" (click)="sort('title',1)" >
        <span class="sortIndex"> {{checkForOrder('title') + 1}} </span>
        <mat-icon class="downSort">arrow_drop_down</mat-icon>
      </div>
      <mat-icon *ngIf="checkForOrder('title') !== -1" class="close" (click)="removeSort('title')">cancel</mat-icon>
    </div>
    <div class="col-1 centerClass sortClasss">
      Status
      <div class="sort" *ngIf="checkForOrder('statusValue') == -1" (click)="sort('statusValue',1)" >
        <mat-icon class="up">arrow_drop_up</mat-icon>
        <mat-icon class="down">arrow_drop_down</mat-icon>
      </div>
      <div class="sort increaseSort" *ngIf="(checkForOrder('statusValue') !== -1) && (checkForOrderType('statusValue') == 1)" (click)="sort('statusValue',-1)" >
        <span class="sortIndex"> {{checkForOrder('statusValue') + 1}} </span>
        <mat-icon class="upSort">arrow_drop_up</mat-icon>
      </div>
      <div class="sort increaseSort" *ngIf="(checkForOrder('statusValue') !== -1) && (checkForOrderType('statusValue') == -1)" (click)="sort('statusValue',1)" >
        <span class="sortIndex"> {{checkForOrder('statusValue') + 1}} </span>
        <mat-icon class="downSort">arrow_drop_down</mat-icon>
      </div>
      <mat-icon *ngIf="checkForOrder('statusValue') !== -1" class="close" (click)="removeSort('statusValue')">cancel</mat-icon>
  
    </div>
    <div class="col-1 centerClass sortClasss">
      Start Date
      <div class="sort" *ngIf="checkForOrder('start_date') == -1" (click)="sort('start_date',1)" >
        <mat-icon class="up">arrow_drop_up</mat-icon>
        <mat-icon class="down">arrow_drop_down</mat-icon>
      </div>
      <div class="sort increaseSort" *ngIf="(checkForOrder('start_date') !== -1) && (checkForOrderType('start_date') == 1)" (click)="sort('start_date',-1)" >
        <span class="sortIndex"> {{checkForOrder('start_date') + 1}} </span>
        <mat-icon class="upSort">arrow_drop_up</mat-icon>
      </div>
      <div class="sort increaseSort" *ngIf="(checkForOrder('start_date') !== -1) && (checkForOrderType('start_date') == -1)" (click)="sort('start_date',1)" >
        <span class="sortIndex"> {{checkForOrder('start_date') + 1}} </span>
        <mat-icon class="downSort">arrow_drop_down</mat-icon>
      </div>
      <mat-icon *ngIf="checkForOrder('start_date') !== -1" class="close" (click)="removeSort('start_date')">cancel</mat-icon>
  
    </div>
    <div class="col-1 centerClass sortClasss">
      Due Date
      <div class="sort" *ngIf="checkForOrder('due_date') == -1" (click)="sort('due_date',1)" >
        <mat-icon class="up">arrow_drop_up</mat-icon>
        <mat-icon class="down">arrow_drop_down</mat-icon>
      </div>
      <div class="sort increaseSort" *ngIf="(checkForOrder('due_date') !== -1) && (checkForOrderType('due_date') == 1)" (click)="sort('due_date',-1)" >
        <span class="sortIndex"> {{checkForOrder('due_date') + 1}} </span>
        <mat-icon class="upSort">arrow_drop_up</mat-icon>
      </div>
      <div class="sort increaseSort" *ngIf="(checkForOrder('due_date') !== -1) && (checkForOrderType('due_date') == -1)" (click)="sort('due_date',1)" >
        <span class="sortIndex"> {{checkForOrder('due_date') + 1}} </span>
        <mat-icon class="downSort">arrow_drop_down</mat-icon>
      </div>
      <mat-icon *ngIf="checkForOrder('due_date') !== -1" class="close" (click)="removeSort('due_date')">cancel</mat-icon>
  
    </div>
    <div class="col-1 centerClass sortClasss">
      Date Closed
      <div class="sort" *ngIf="checkForOrder('date_closed') == -1" (click)="sort('date_closed',1)" >
        <mat-icon class="up">arrow_drop_up</mat-icon>
        <mat-icon class="down">arrow_drop_down</mat-icon>
      </div>
      <div class="sort increaseSort" *ngIf="(checkForOrder('date_closed') !== -1) && (checkForOrderType('date_closed') == 1)" (click)="sort('date_closed',-1)" >
        <span class="sortIndex"> {{checkForOrder('date_closed') + 1}} </span>
        <mat-icon class="upSort">arrow_drop_up</mat-icon>
      </div>
      <div class="sort increaseSort" *ngIf="(checkForOrder('date_closed') !== -1) && (checkForOrderType('date_closed') == -1)" (click)="sort('date_closed',1)" >
        <span class="sortIndex"> {{checkForOrder('date_closed') + 1}} </span>
        <mat-icon class="downSort">arrow_drop_down</mat-icon>
      </div>
      <mat-icon *ngIf="checkForOrder('date_closed') !== -1" class="close" (click)="removeSort('date_closed')">cancel</mat-icon>
  
    </div>
    <div class="col-1">

    </div>
    <mat-icon matTooltip="Add Task" (click)="addEventFun()" matTooltipPosition="above" class="addTask">add</mat-icon>
  </div>