
  .listingHeader{
    display: flex;
    padding: 18px;
    text-transform: capitalize;
    background: #dfdfdf;
   width: 100%;
   margin: 0;
   position: sticky;
   top: 0;
   z-index: 9;
  }
  
  .addTask{
    position: absolute;
    right: 26px;
    cursor: pointer;
  }

