.example-list {
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 18px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    // cursor: move;
    background: white;
    font-size: 14px;
    margin: 0;
    width: 100%;
    position: relative;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-custom-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
 
  .listing{
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    
  }
  .total{
    display: inline-flex;
    flex-grow: 1;
    max-width: 840px;
    position: sticky;
    width: 100%;
  }
  
  mat-icon:hover{
    color: #7b68ee;
  }

  .addTask{
    position: absolute;
    right: 26px;
  }
  .addTaskClass{
    border: 1px solid;
    .inputClass{
      width: 100%;
      outline: none;
      border: 0;
      height: 46px;
    }
  }
  
  .editInput{
    width: 100%;
    padding: 2px;
    outline: 0;
    /* border: 0; */
    border-radius: 5px;
  }
 
  .taskTitle{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Gotham Pro,Proxima Nova,arial,serif;
    font-weight: 400;
    line-height: 1.2;
    cursor: pointer;
    display: inline;
    color: #000;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
  }
  .deleteClass{
    display: none;
    position: absolute;
    right: 35px;
    top: 22px;

  }
  .example-box:hover{
    background: #dddddd;
    .deleteClass{
      display: block;
    }
  }

  

.centerAlignForce{
  height: 100% !important;
    width: 100% !important;
}

.centerAlignForceText{
  width: 100%;
}