<app-search></app-search>
<div class="listing">
 <app-header (addEvent)="addEvent($event)"></app-header>
 <app-add (addEvent)="addEvent($event)" *ngIf="addFlag" > </app-add>
  <div cdkDropList class="example-list" [cdkDropListData]="allTasks" (cdkDropListDropped)="drop($event)">
      <div class="row example-box" *ngFor="let task of allTasks " cdkDrag id="{{task._id}}">
        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
        <div class="col-1 centerClass ">
          <mat-icon matTooltip="Complete" *ngIf="task.statusValue !== 'Complete' && !task.edit" (click)="completeTask(task)" class="pointerClass centerAlignForce" matTooltipPosition="above">check</mat-icon>
        </div>
        <div class="col-6 sortClass" >
          <input *ngIf="task.edit" id="editInput{{task._id}}" class="editInput" (focusout)="editTitle(task)" [(ngModel)]="task.title" (keyup.enter)="editTitle(task)" >
          <p *ngIf="!task.edit" class="taskTitle" (click)="openEditBox(task)"> {{task.title}} </p>
          
        </div>
        <div class="col-1 centerClass">
          <mat-select class="statusSelect" (selectionChange)="selectionChange(task,$event.value)" value="{{task.statusValue}}">
            <mat-option value="To do" >To do</mat-option>
            <mat-option value="Pending"> Pending </mat-option>
            <mat-option value="In progress">In progress</mat-option>
            <mat-option value="Testing">Testing</mat-option>
            <mat-option value="Complete">Complete</mat-option>
          </mat-select>
        </div>
        <div class="col-1 sortClasss centerClass">
          <input matInput class="dateInput" (focus)="picker2.open()" (click)="picker2.open()" [matDatepicker]="picker2" (dateChange)="handleDOBChange(task,$event,'start')" [value]="task.start_date" >
          <mat-datepicker #picker2></mat-datepicker>
          <mat-icon matTooltip="Start Date" *ngIf="!task.start_date" class="pointerClass centerAlignForce" (click)="picker2.open()" matTooltipPosition="above">calendar_today</mat-icon>
          <span *ngIf="task.start_date" class="centerAlignForceText" (click)="picker2.open()"> {{task.start_date | date }} </span>
        </div>
        <div class="col-1 sortClasss centerClass">
          <input matInput class="dateInput" (focus)="picker3.open()" (click)="picker3.open()" [matDatepicker]="picker3" (dateChange)="handleDOBChange(task,$event,'due')" [value]="task.due_date">
          <mat-datepicker #picker3></mat-datepicker>
          <mat-icon matTooltip="Due Date" *ngIf="!task.due_date" class="pointerClass centerAlignForce" (click)="picker3.open()" matTooltipPosition="above">calendar_today</mat-icon>
          <span *ngIf="task.due_date" class="centerAlignForceText" (click)="picker3.open()"> {{task.due_date | date }} </span>
        </div>
        <div class="col-1 sortClasss centerClass">
          <span *ngIf="task.date_closed" class="centerAlignForceText"> {{task.date_closed | date }} </span>
        </div>
        <div class="col-1" style="width: 10px;">
          <mat-icon class="deleteClass" matTooltip="Delete Task" matTooltipPosition="above" (click)="deleteTask(task)">delete_outline</mat-icon>
          <mat-icon matTooltip="Complete" *ngIf="task.edit" class="pointerClass" matTooltipPosition="above">check</mat-icon>
        </div>
       
      </div>
    </div>
</div>