.addTaskClass{
    border: 1px solid;
    width: 100%;
    margin: 0;
    padding: 10px;
    .inputClass{
      width: 100%;
      outline: none;
      border: 0;
      height: 46px;
    }
  }
  
 
  .centerClass{
    margin-top: 11px;
  }
  .marginClass{
    position: absolute;
    // margin-left: -30px;
    margin: 0px -30px;
  }

  
.centerAlignForce{
  height: 100% !important;
    width: 100% !important;
}

.centerAlignForceText{
  width: 100%;
}