<div class="row example-box addTaskClass">
  
    <div class="col-7" style="width: 764px;">
      <input class="inputClass" (keyup.enter)="createTask()" [(ngModel)]="newTask.title" placeholder="Enter Title..." >
    </div>
    <div class="col-1 centerClass sortClasss">
      <mat-select class="statusSelect" [(ngModel)]="newTask.statusValue">
        <mat-option value="To do" >To do</mat-option>
        <mat-option value="Pending"> Pending </mat-option>
        <mat-option value="In progress">In progress</mat-option>
        <mat-option value="Testing">Testing</mat-option>
        <mat-option value="Complete">Complete</mat-option>
      </mat-select>
    </div>
    <div class="col-1 centerClass sortClasss">
      <input matInput class="dateInput" (focus)="picker1.open()" (click)="picker1.open()" [matDatepicker]="picker1" [(ngModel)]="newTask.start_date">
      <mat-datepicker #picker1></mat-datepicker>
      <mat-icon matTooltip="Start Date" *ngIf="!newTask.start_date" class="pointerClass centerAlignForce" (click)="picker1.open()" matTooltipPosition="above">calendar_today</mat-icon>
      <span *ngIf="newTask.start_date" class="centerAlignForceText" (click)="picker1.open()"> {{newTask.start_date | date }} </span>
    </div>
    <div class="col-1 centerClass sortClasss">
      <input matInput class="dateInput" (focus)="picker.open()" (click)="picker.open()" [matDatepicker]="picker" [(ngModel)]="newTask.due_date">
      <mat-datepicker #picker></mat-datepicker>
      <mat-icon matTooltip="Due Date" class="pointerClass centerAlignForce" *ngIf="!newTask.due_date" (click)="picker.open()" matTooltipPosition="above">calendar_today</mat-icon>
      <span *ngIf="newTask.due_date" class="centerAlignForceText" (click)="picker.open()" > {{newTask.due_date | date }} </span>
    </div>
    <div class="col-1 centerClass sortClasss">
      
    </div>
    <div class="col-1 centerClass" style="width: 81px;">
      <mat-icon matTooltip="Save" class="pointerClass marginClass" (click)="createTask()" matTooltipPosition="above">check</mat-icon>
      <mat-icon matTooltip="Close" (click)="removeValues()" class="pointerClass " matTooltipPosition="above" >close</mat-icon>

    </div>
   
  </div>