/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.centerClass{
    text-align: center;
  }
  .pointerClass{
    cursor: pointer;
  }
  .dateInput{
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
  }
  mat-icon{
    height: 0 !important;
    width: 0 !important;
  }

  .sortClass{
    display: flex;
    max-width: 660px;
    font-size: 13px;
    font-weight: 500;
    .sort{
      width: 17px;
      position: relative;
      background: #bac5c1;
      border-radius: 23px;
      height: 17px;
      margin-left: 5px;
      margin-top: 2px;
      .sortIndex{
        margin-left: 3px;
      }
      .up{
        position: absolute;
        top: -3px;
        cursor: pointer;
        font-size: 18px;
        margin-left: -0.5px;
        margin-top: -1px;
      }
      .upSort,.downSort{
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        margin-left: -6px;
      }
      .down{
        position: absolute;
        top: 3px;
        cursor: pointer;
        font-size: 18px;
        margin-left: -0.5px;
        margin-top: -1px;
      }
    }
    .close{
        cursor: pointer;
        font-size: 17px;
        z-index: 9;
        margin-top: 1.5px;
        margin-left: 2px;
    }
  }

  .increaseSort{
    width:22px !important;
  }

  .sortClasss{
    min-width: 125px;
    display: flex;
    font-size: 13px;
    font-weight: 500;
    .sort{
      width: 17px;
      position: relative;
      background: #bac5c1;
      border-radius: 23px;
      height: 17px;
      margin-left: 5px;
      .sortIndex{
        margin-left: -8px;
      }
      .up{
        position: absolute;
        top: -3px;
        cursor: pointer;
        font-size: 18px;
        margin-left: -10px;
      }
      .upSort,.downSort{
        cursor: pointer;
        font-size: 20px;
        position: absolute;
        margin-left: -6px;
      }
      .down{
        position: absolute;
        top: 2px;
        cursor: pointer;
        font-size: 20px;
        margin-left: -10.7px;
      }
    }
    .close{
        cursor: pointer;
        font-size: 19px;
        z-index: 9;
    }
  }